APP_NAME=Water Potability API
APP_VERSION=1.0.0
MODEL_PATH=models/water_potability_model
MODEL_PATH_NN=models/water_potability_model_nn
DEFAULT_MODEL_NAME=decision_tree
METRICS_CSV_PATH=data/raw/water_potability.csv
CORS_ORIGINS=["http://localhost:4200"]
